# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Lo bonito es mejor que lo feo.
Lo expl√≠cito es mejor que lo impl√≠cito.
Lo simple es mejor que lo complejo.
Lo complejo es mejor que lo complicado.
Lo plano es mejor que lo anidado.
Lo disperso es mejor que lo denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien expl√≠citamente.
Ante la ambig√ºedad, rechaza la tentaci√≥n de adivinar.
Debe haber una -y preferiblemente s√≥lo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holand√©s.
Ahora es mejor que nunca.
Aunque nunca es mejor que *ahora mismo*.
Si la implementaci√≥n es dif√≠cil de explicar, es una mala idea.
Si la implementaci√≥n es f√°cil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¬°hagamos m√°s de ellos!
```

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tipos-de-celdas-en-Jupyter-Notebook" data-toc-modified-id="Tipos-de-celdas-en-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tipos de celdas en Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li><li><span><a href="#C√≥digo" data-toc-modified-id="C√≥digo-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>C√≥digo</a></span></li></ul></li><li><span><a href="#N√∫meros-enteros" data-toc-modified-id="N√∫meros-enteros-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>N√∫meros enteros</a></span></li><li><span><a href="#N√∫meros-reales-(floats)" data-toc-modified-id="N√∫meros-reales-(floats)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>N√∫meros reales (floats)</a></span></li><li><span><a href="#Operaciones-b√°sicas" data-toc-modified-id="Operaciones-b√°sicas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Operaciones b√°sicas</a></span></li><li><span><a href="#Strings-(cadenas-de-caracteres)" data-toc-modified-id="Strings-(cadenas-de-caracteres)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Strings (cadenas de caracteres)</a></span></li><li><span><a href="#Casteo-en-Python" data-toc-modified-id="Casteo-en-Python-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Casteo en Python</a></span><ul class="toc-item"><li><span><a href="#Conversi√≥n-impl√≠cita" data-toc-modified-id="Conversi√≥n-impl√≠cita-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Conversi√≥n impl√≠cita</a></span></li><li><span><a href="#Conversi√≥n-expl√≠cita" data-toc-modified-id="Conversi√≥n-expl√≠cita-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Conversi√≥n expl√≠cita</a></span><ul class="toc-item"><li><span><a href="#Convertir-float-a-int" data-toc-modified-id="Convertir-float-a-int-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Convertir float a int</a></span></li><li><span><a href="#Convertir-un-float-en-un-string" data-toc-modified-id="Convertir-un-float-en-un-string-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Convertir un float en un string</a></span></li><li><span><a href="#Convertir-string-a-int" data-toc-modified-id="Convertir-string-a-int-6.2.3"><span class="toc-item-num">6.2.3&nbsp;&nbsp;</span>Convertir string a int</a></span></li></ul></li></ul></li><li><span><a href="#Entrada-y-salida-de-datos" data-toc-modified-id="Entrada-y-salida-de-datos-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Entrada y salida de datos</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#M√©todos-de-los-string" data-toc-modified-id="M√©todos-de-los-string-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>M√©todos de los string</a></span></li></ul></li><li><span><a href="#Estructuras-de-datos" data-toc-modified-id="Estructuras-de-datos-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Estructuras de datos</a></span><ul class="toc-item"><li><span><a href="#Listas" data-toc-modified-id="Listas-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Listas</a></span><ul class="toc-item"><li><span><a href="#M√©todos-de-las-listas" data-toc-modified-id="M√©todos-de-las-listas-9.1.1"><span class="toc-item-num">9.1.1&nbsp;&nbsp;</span>M√©todos de las listas</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-9.3"><span class="toc-item-num">9.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-9.4"><span class="toc-item-num">9.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Resumen</a></span></li></ul></div>

##¬†Tipos de celdas en Jupyter Notebook

###¬†Markdown

Esta celda es de markdown

### C√≥digo

In [2]:
hola = 3

# Tipos de datos
## N√∫meros enteros

In [3]:
10

10

In [4]:
10 + 3

13

In [5]:
enteros = 4

In [6]:
type(enteros)

int

## N√∫meros reales (floats)

In [7]:
type(0.4)

float

In [8]:
temperatura = 37.8

In [9]:
4.04 + 3

7.04

##¬†Operaciones b√°sicas

In [ ]:
#¬†suma

In [10]:
4 + 7

11

In [ ]:
#¬†resta

In [11]:
10 - 4

6

In [ ]:
# multiplicaci√≥n

In [12]:
3 * 5

15

In [ ]:
# divisi√≥n

In [13]:
4 / 3

1.3333333333333333

In [ ]:
#¬†divisi√≥n entera

In [14]:
6 // 3

2

In [ ]:
#¬†m√≥dulo

In [15]:
8 % 2

0

In [ ]:
# potencia

In [16]:
4 ** 2

16

In [ ]:
#¬†redondea n√∫mero

In [23]:
round(5.335737, 3)

5.336

In [24]:
import math

In [ ]:
# redondeo hacia abajo

In [22]:
math.floor(6.2523)

6

In [ ]:
# redondeo hacia arriba

In [20]:
math.ceil(6.2526)

7

In [ ]:
#help(math)

##¬†Strings (cadenas de caracteres)

In [ ]:
#¬†Cuidado con las comillas

In [26]:
cadena = "y me dijo 'hola qu√© tal' ¬øSabes?"

In [31]:
"Tened cuidado "comillas "con las "

SyntaxError: invalid syntax (1059736161.py, line 1)

In [27]:
"""
Strings 
de varias 
l√≠neas
"""

'\nStrings \nde varias \nl√≠neas\n'

In [28]:
'Esto tambi√©n es un "String"'

'Esto tambi√©n es un "String"'

In [30]:
'las simples 'tambi√©n' abren y cierran'

SyntaxError: invalid syntax (3866158138.py, line 1)

In [32]:
nombre = "Sonia"

In [34]:
nombre * 3

'SoniaSoniaSonia'

In [35]:
nombre * 3.6

TypeError: can't multiply sequence by non-int of type 'float'

##¬†Casteo en Python

Casting significa convertir un tipo de datos en otro. Anteriormente hemos visto tipos como int, string o float. Pues bien, es posible convertir de un tipo a otro.
Pero antes de nada, veamos los diferentes tipos de cast o conversi√≥n de tipos que se pueden hacer. Hay dos:

**Conversi√≥n impl√≠cita:** Esto lo hace Python de forma autom√°tica. Ocurre cuando realizamos ciertas operaciones con dos tipos diferentes.

**Conversi√≥n expl√≠cita:** La hacemos nosotros expl√≠citamente, como por ejemplo convertir str en int con str().

### Conversi√≥n impl√≠cita
Esta conversi√≥n de tipos la realiza Python autom√°ticamente, pr√°cticamente sin que nos demos cuenta. Aun as√≠, es importante conocer lo que ocurre por debajo para evitar futuros problemas.

El ejemplo m√°s sencillo donde podemos ver este comportamiento es el siguiente:

In [38]:
a = 1 # es un entero
b = 3.2 # es un float

c = a + b 
print(c)
type(c)

4.2

float

In [39]:
type(a)

int

In [41]:
num = 3.0
type(num)

float

a es un int   
b es un float    
Pero si sumamos a y b y almacenamos el resultado en a, podemos ver c√≥mo internamente Python ha convertido el int a float para realizar la operaci√≥n, y la variable resultante es float.
Sin embargo, hay otros casos en los que Python no es tan inteligente y no es capaz de realizar la conversi√≥n. Si intentamos a√±adir un int a una cadena, obtendremos un TypeError.

### Conversi√≥n expl√≠cita
Por otro lado, podemos realizar conversiones entre tipos o castings de forma expl√≠cita utilizando diferentes funciones que proporciona Python. Las m√°s utilizadas son las siguientes:

`float(), str(), int(), list(), set()`        
Y algunas otras como `hex(), oct() y bin(). `           
#### Convertir float a int 
Para convertir de float a int debemos utilizar int(). Pero cuidado, porque el tipo integer no puede almacenar decimales, por lo que perderemos lo que haya despu√©s del punto decimal.

In [47]:
int(3.6)

3

In [44]:
int("3")

3

In [45]:
int("3.0")

ValueError: invalid literal for int() with base 10: '3.0'

In [46]:
int(float("3.0"))

3

#### Convertir un float en un string
Podemos convertir un flotador en una cadena con str(). Podemos ver en el siguiente c√≥digo c√≥mo cambia el tipo de a despu√©s del cast.

In [43]:
a = 3.2

In [48]:
str(a)

'3.2'

In [50]:
print(str(a))

3.2

In [52]:
num = str(a)

In [53]:
type(num)

str

In [ ]:
# Si multiplico num por un n√∫mero lo que tengo es una multiplicaci√≥n de un string

In [54]:
num * 4

'3.23.23.23.2'

#### Convertir string a int
Al igual que la conversi√≥n a float anterior, podemos convertir de cadena a int utilizando int().

In [56]:
conv = int("3")
conv

3

##¬†Entrada y salida de datos
### Input
Para asignar una variable a un valor introducido por el usuario en la consola, utilice la instrucci√≥n      
``python
input(mensaje) : Muestra el mensaje de la cadena por el terminal y devuelve una cadena con la entrada 
  ```

In [57]:
dato = input("Introduce un n√∫mero: ")

Introduce un n√∫mero: 39875

In [58]:
type(dato)

str

In [59]:
edad = int(input("Introduce tu edad: "))

Introduce tu edad: lksdjfglks

ValueError: invalid literal for int() with base 10: 'lksdjfglks'

###¬†Print
La funci√≥n print() imprime el mensaje especificado en la pantalla, o en otro dispositivo de salida est√°ndar.

El mensaje puede ser una cadena, o cualquier otro objeto, el objeto ser√° convertido en una cadena antes de ser escrito en la pantalla.

In [60]:
var = "hola"
var2 = 246

In [61]:
print(var, var2)

hola 246

In [63]:
elprint = print(var,var2)

hola 246

In [64]:
elprint

In [65]:
type(elprint)

NoneType

## Strings

In [66]:
cadena = "Buenos d√≠as, soy Ras y estamos aprendiendo Python"

In [67]:
type(cadena)

str

In [68]:
cadena + "y otra cosa"

'Buenos d√≠as, soy Ras y estamos aprendiendo Pythony otra cosa'

In [69]:
cadena

'Buenos d√≠as, soy Ras y estamos aprendiendo Python'

In [70]:
otra_cadena = cadena + cadena

In [71]:
otra_cadena

'Buenos d√≠as, soy Ras y estamos aprendiendo PythonBuenos d√≠as, soy Ras y estamos aprendiendo Python'

In [72]:
cadena_larga = cadena + " " + cadena

In [73]:
cadena_larga

'Buenos d√≠as, soy Ras y estamos aprendiendo Python Buenos d√≠as, soy Ras y estamos aprendiendo Python'

In [74]:
# check contains
"a" in cadena

True

In [75]:
# check contains
"Sonia" in cadena

False

In [76]:
# check contains
variable = "Ras" in cadena

In [77]:
variable

True

### M√©todos de los string
Los m√©todos son acciones o funciones que puede realizar un objeto. Al igual que Python ofrece una serie de funciones ‚Äúbuilt-in‚Äù, tambi√©n pone a nuestra disposici√≥n un conjunto de m√©todos ya creados. Estos m√©todos dependen del tipo de objeto con el que estemos trabajando.

In [79]:
#help(str)

In [80]:
len(cadena)

49

Vamos a explicar en clase algunos de los m√©todos m√°s utilizados durante el bootcamp, tened en cuenta que ten√©is que tener siempre presente la [documentaci√≥n](https://docs.python.org/3/library/stdtypes.html#string-methods)

`capitalize` Devuelve una copia de la cadena con su primer car√°cter en may√∫sculas y el resto en min√∫sculas.

In [1]:
frase = "ras es una chica muyyy positiva"

In [2]:
"string".capitalize()

'String'

`upper` Devuelve una copia de la cadena con todos los caracteres en may√∫sculas

In [3]:
frase.capitalize()

'Ras es una chica muyyy positiva'

In [7]:
frase = frase.upper()
# Para que la variable frase se quede guardada como todo mayusculas tenemos que volver a guardarlo enla variable.

`isupper` Devuelve True si todos los caracteres en may√∫scula de la cadena son may√∫sculos y hay al menos un car√°cter en may√∫scula, False en caso contrario.

In [8]:
frase.isupper()

True

In [9]:
frase

'RAS ES UNA CHICA MUYYY POSITIVA'

`lower` Devuelve una copia de la cadena con los caracteres en min√∫sculas

In [13]:
frase = frase.lower()

`islower` Es como isupper pero....comprobamos las min√∫sculas

In [14]:
frase.islower()

True

`swapcase` Devuelve una copia de la cadena con los caracteres en may√∫sculas convertidos a min√∫sculas y viceversa.

In [17]:
loca = "HolA Ke Tal"

In [18]:
loca.swapcase()

'hOLa kE tAL'

In [20]:
variable = frase.swapcase().isupper()

In [21]:
variable

True

`title` Devuelve una versi√≥n en may√∫sculas de la cadena en la que las palabras comienzan con un car√°cter en may√∫scula y el resto de caracteres en min√∫scula.

In [22]:
frase.title()

'Ras Es Una Chica Muyyy Positiva'

`join(iterable)`

Devuelve una cadena que es la concatenaci√≥n de las cadenas en iterable. Se producir√° un TypeError si hay alg√∫n valor que no sea una cadena en el iterable, incluyendo objetos bytes. El separador entre elementos es la cadena que proporciona este m√©todo.

In [23]:
lst =['hola', 'estamos', 'en', 'clase']

In [28]:
" ".join(lst)

'hola estamos en clase'

In [31]:
"üöÄ".join(lst)

'holaüöÄestamosüöÄenüöÄclase'

In [32]:
encadenado = " ".join(lst)

`startswith` Devuelve True si la cadena comienza con el prefijo, en caso contrario devuelve False. prefijo tambi√©n puede ser una tupla de prefijos a buscar. Con start opcional, comprueba la cadena que empieza en esa posici√≥n. Con end opcional, deja de comparar la cadena en esa posici√≥n.

In [33]:
encadenado

'hola estamos en clase'

In [35]:
encadenado.startswith("h")

True

In [36]:
encadenado.startswith("hola")

True

`endswith`Devuelve True si la cadena termina con el sufijo especificado, en caso contrario devuelve False.

In [37]:
encadenado.endswith("e")

True

In [42]:
encadenado.endswith("en clase")

True

In [44]:
encadenado.endswith(encadenado)

True

`str.lstrip([chars])`
Devuelve una copia de la cadena con los caracteres iniciales eliminados. El argumento chars es una cadena que especifica el conjunto de caracteres a eliminar. Si se omite o no hay ninguno, el argumento chars elimina por defecto los espacios en blanco. El argumento chars no es un prefijo, sino que se eliminan todas las combinaciones de sus valores:

In [72]:
ejemplo = "    string con espacios     "

In [46]:
ejemplo.strip()

'string con espacios'

`lstrip` y `rstrip` hacen lo mismo pero con los espacios del principio y del final

In [47]:
ejemplo.lstrip()

'string con espacios     '

In [48]:
ejemplo.rstrip()

'    string con espacios'

In [52]:
ejemplo.strip().lstrip('str')

'ing con espacios'

`str.replace(old, new[, count])`     
Devuelve una copia de la cadena con todas las ocurrencias de la subcadena old reemplazadas por new. Si se da el argumento opcional count, s√≥lo se reemplazan las primeras ocurrencias de count.

In [ ]:
# Reemplazamos espacios por nada

In [53]:
ejemplo.replace(" ","")

'stringconespacios'

In [54]:
ejemplo.replace("s","a")

'    atring con eapacioa     '

In [56]:
ejemplo.replace("s","a",1)

'    atring con espacios     '

In [57]:
ejemplo.replace("s","a",1).strip()

'atring con espacios'

`str.split(sep=None, maxsplit=- 1)`     
Devuelve una lista de las palabras de la cadena, utilizando sep como cadena delimitadora. Si se da maxsplit, se realizan como m√°ximo maxsplit splits (por tanto, la lista tendr√° como m√°ximo maxsplit+1 elementos). Si no se especifica maxsplit o es -1, no hay l√≠mite en el n√∫mero de divisiones (se realizan todas las divisiones posibles).

In [62]:
ejemplo = ejemplo.strip()

In [63]:
ejemplo

'string con espacios'

In [64]:
ejemplo.split()

['string', 'con', 'espacios']

In [65]:
ejemplo.split("s")

['', 'tring con e', 'pacio', '']

In [73]:
variable_con_guiones = ejemplo.strip().replace(" ","-")

In [74]:
variable_con_guiones

'string-con-espacios'

In [75]:
loguardo = ejemplo.split(" ")
print(loguardo)

['', '', '', '', 'string', 'con', 'espacios', '', '', '', '', '']

In [76]:
len(loguardo)

12

In [78]:
type(loguardo)

list

In [82]:
" ".join(loguardo)

'    string con espacios     '

In [83]:
len(" ".join(loguardo))

28

In [84]:
probamos = """
esto era un string
con saltos de l√≠nea
"""

In [85]:
probamos

'\nesto era un string\ncon saltos de l√≠nea\n'

In [86]:
consaltos = '\nesto era un string\ncon saltos de l√≠nea\n'

In [88]:
separadito = consaltos.split("\n")
len(separadito)
(a)

4

##¬†Estructuras de datos
Hay 4 elementos en python que nos permiten almacenar colecciones de datos. 
- Listas
- Tuplas
- Sets
- Diccionarios
### Listas

Las listas pueden contener diferentes tipos de datos

In [173]:
nombres = ["Paco", "Fernando", "Mar√≠a", "Isabel"]
cosas = [True, "Texto",5, 4.26,"$",nombres, "üöÄ", {"hola":"qu√© tal"}]

In [174]:
cosas

[True,
 'Texto',
 5,
 4.26,
 '$',
 ['Paco', 'Fernando', 'Mar√≠a', 'Isabel'],
 'üöÄ',
 {'hola': 'qu√© tal'}]

In [175]:
type(nombres)

list

In [176]:
type (cosas)

list

In [177]:
for i in cosas:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'str'>
<class 'dict'>

####¬†M√©todos de las listas      
`append` Agrega un √≠tem al final de la lista.

In [178]:
nombres

['Paco', 'Fernando', 'Mar√≠a', 'Isabel']

In [179]:
nombres.append("Ras")

In [180]:
nombres

['Paco', 'Fernando', 'Mar√≠a', 'Isabel', 'Ras']

`extend` Extiende la lista agreg√°ndole todos los √≠tems del iterable

In [181]:
cosas = ["üöÄ", "üî•", "üêß"]

In [182]:
nombres.extend(cosas)

In [183]:
nombres

['Paco', 'Fernando', 'Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß']

`insert` Inserta un √≠tem en una posici√≥n dada. El primer argumento es el √≠ndice del √≠tem delante del cual se insertar√°, por lo tanto a.insert(0, x) inserta al principio de la lista y a.insert(len(a), x) equivale a a.append(x).

In [184]:
nombres.insert(2,"Dobby")

In [185]:
nombres

['Paco', 'Fernando', 'Dobby', 'Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß']

In [186]:
nombres.append(cosas)
nombres

['Paco',
 'Fernando',
 'Dobby',
 'Mar√≠a',
 'Isabel',
 'Ras',
 'üöÄ',
 'üî•',
 'üêß',
 ['üöÄ', 'üî•', 'üêß']]

In [187]:
type(nombres[9]) #nuestro emoji es un string

list

In [188]:
type(nombres[8])

str

`remove` Quita el primer √≠tem de la lista cuyo valor sea x. Lanza un ValueError si no existe tal √≠tem.

In [189]:
nombres_sin = nombres.remove("Paco") #ojo que modifica nombres original

In [190]:
nombres

['Fernando', 'Dobby', 'Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß', ['üöÄ', 'üî•', 'üêß']]

In [195]:
nombres.remove("Dobby")
# Si ejecuto dos veces la celda nos da error, la segunda vez el elemento "Dobby" ya no existe.

ValueError: list.remove(x): x not in list

`pop` Quita el √≠tem en la posici√≥n dada de la lista y lo retorna. Si no se especifica un √≠ndice, a.pop() quita y retorna el √∫ltimo elemento de la lista.

In [197]:
nombres.pop()

['üöÄ', 'üî•', 'üêß']

In [198]:
nombres

['Fernando', 'Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß']

In [199]:
nombres.pop(0)

'Fernando'

In [200]:
nombres

['Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß']

`clear` Elimina todos los elementos de la lista

In [204]:
fiesta = ["hola", 5, True, "birras",5,5]

In [202]:
fiesta.clear()
fiesta

[]

`count` Retorna el n√∫mero de veces que x aparece en la lista.

In [203]:
nombres.count("Isabel")

1

In [206]:
fiesta.count(5)

3

`list.sort(*, key=None, reverse=False)`
Ordena los elementos de la lista in situ (los argumentos pueden ser usados para personalizar el orden de la lista, ver [sorted()](https://docs.python.org/es/3/library/functions.html#sorted) para su explicaci√≥n).

In [207]:
nombres

['Mar√≠a', 'Isabel', 'Ras', 'üöÄ', 'üî•', 'üêß']

In [208]:
nombres.sort()

In [209]:
nombres

['Isabel', 'Mar√≠a', 'Ras', 'üêß', 'üî•', 'üöÄ']

`list.reverse()`
Invierte los elementos de la lista in situ.

In [210]:
nombres.reverse()

In [211]:
nombres

['üöÄ', 'üî•', 'üêß', 'Ras', 'Mar√≠a', 'Isabel']

`slicing` No es un m√©todo como tal, pero podemos jugar con los elementos de las listas y sus posiciones

In [212]:
nombres[0]

'üöÄ'

In [213]:
nombres[0:3]
#La √∫ltima posici√≥n excluida del rango

['üöÄ', 'üî•', 'üêß']

In [214]:
nombres[3]

'Ras'

In [216]:
nombres[0:5:2]

['üöÄ', 'üêß', 'Mar√≠a']

In [218]:
nombres[-1]

'Isabel'

In [219]:
nombres[5]

'Isabel'

In [217]:
nombres[:-1]

['üöÄ', 'üî•', 'üêß', 'Ras', 'Mar√≠a']

In [223]:
nombres[2:]

['üêß', 'Ras', 'Mar√≠a', 'Isabel']

In [220]:
nombres

['üöÄ', 'üî•', 'üêß', 'Ras', 'Mar√≠a', 'Isabel']

In [229]:
nombres[::-1]

['Isabel', 'Mar√≠a', 'Ras', 'üêß', 'üî•', 'üöÄ']

### Tuples

Las tuplas en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas, con la salvedad de que son inmutables. As√≠ que no podremos: 
 - cambiar sus entradas
 - a√±adir nuevos valores

In [2]:
tupla = (44,55,98,23,22,21,3)

In [3]:
type(tupla)

tuple

In [4]:
list(tupla)

[44, 55, 98, 23, 22, 21, 3]

In [5]:
type (tupla)

tuple

In [6]:
tupla[3]

23

In [7]:
tupla.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
guardar = list(tupla)

In [9]:
guardar

[44, 55, 98, 23, 22, 21, 3]

In [10]:
tupla*2

(44, 55, 98, 23, 22, 21, 3, 44, 55, 98, 23, 22, 21, 3)

In [11]:
tupla

(44, 55, 98, 23, 22, 21, 3)

In [12]:
tuplaotra = tupla + tupla

In [13]:
tuplaotra

(44, 55, 98, 23, 22, 21, 3, 44, 55, 98, 23, 22, 21, 3)

Ventajas de las tuplas 
 * M√°s r√°pido
 * Los datos no pueden ser modificados
 
Tambi√©n es posible que utilicemos tuplas cuando queramos devolver m√∫ltiples valores en el `return` de una funci√≥n

In [19]:
def sumaresta (a,b):
    return a+b,a-b

In [20]:
sumaresta(8,3)

(11, 5)

In [22]:
resultado = sumaresta(8,3)

In [24]:
resultado[1]

5

### Sets
Los conjuntos se utilizan para almacenar m√∫ltiples elementos en una sola variable. A diferencia de las listas, contienen elementos √∫nicos y no tienen un orden.

In [25]:
lista = [1,2,3,56,78,65,43,35,7,43,2,1,2,3,5,6,7,89,98,543,2,2,4,5]

In [26]:
set(lista)

{1, 2, 3, 4, 5, 6, 7, 35, 43, 56, 65, 78, 89, 98, 543}

In [27]:
guardo_set = set(lista)

In [28]:
type(guardo_set)

set

`add` A√±ade un elemento al set

In [41]:
guardo_set

{1, 2, 3, 4, 5, 6, 7, 35, 43, 56, 65, 78, 89, 98, 543}

In [42]:
guardo_set.add(17)

In [44]:
guardo_set #ojo, lo incluye ordenadito

{1, 2, 3, 4, 5, 6, 7, 17, 35, 43, 56, 65, 78, 89, 98, 543}

In [37]:
otroset = {()}

In [31]:
type(otroset)

set

In [32]:
vacio = {} #ojo que as√≠ creamo un diccionario vac√≠o

In [33]:
type(vacio)

dict

`clear` Borra todos los elementos del set

In [34]:
otro = {"a"}

In [39]:
otroset.clear()

In [40]:
otroset

set()

`copy` Devuelve una copia del conjunto

In [45]:
guardo = otro.copy()

In [46]:
guardo

{'a'}

In [47]:
guardo.add("b")

In [48]:
guardo

{'a', 'b'}

In [49]:
otro

{'a'}

`difference()` Devuelve un conjunto que contiene la diferencia entre dos o m√°s conjuntos. Realmente lo que devuelve son los elementos que est√°n √öNICAMENTE en el primer set.

In [75]:
set1 = {1,24,32,56,78}

In [61]:
set2 = {1,24,32,5}

In [54]:
set1.difference(set2) #elementos de set que no existen en set2

{56, 78}

In [55]:
set2.difference(set1)

{5}

`discard` Elimina el elemento especificado

In [56]:
set1.discard(24)

In [57]:
set1

{1, 32, 56, 78}

`remove` Elimina el elemento especificado

In [58]:
set1.remove(32)

In [59]:
set1

{1, 56, 78}

`intersection()` Devuelve un conjunto que es la intersecci√≥n de dos o m√°s conjuntos

In [62]:
set1.intersection(set2)

{1, 24, 32}

`issubset` Devuelve si otro conjunto contiene este conjunto o no

In [63]:
set3 = {1,24,78}

In [66]:
set3.issubset(set1)

True

In [67]:
set2.issubset(set1)

False

`issuperset` Devuelve si este conjunto contiene a otro conjunto o no

In [68]:
set3.issuperset(set1)

False

In [69]:
set1.issuperset(set3)

True

`pop` Elimina un elemento del conjunto. Elimina el √∫ltimo elemento de un conjunto y, adem√°s, nos lo devuelve.

In [76]:
set1

{1, 24, 32, 56, 78}

In [77]:
set1.pop()

32

In [72]:
set1

{1, 24, 56, 78}

`union` Devuelve un conjunto que contiene la uni√≥n de conjuntos

In [78]:
set1.union(set2)

{1, 5, 24, 32, 56, 78}

In [79]:
set1|set2

{1, 5, 24, 32, 56, 78}

`update` Actualiza el conjunto con otro conjunto, o cualquier otro iterable

In [80]:
a = {1,2,3}

In [84]:
b = {4,5,6,2}

In [85]:
a.update(b)

In [86]:
a

{1, 2, 3, 4, 5, 6}

In [87]:
a.update("hola")

In [88]:
a

{1, 2, 3, 4, 5, 6, 'a', 'h', 'l', 'o'}

In [90]:
a.update("mimamamemima")

In [91]:
a

{1, 2, 3, 4, 5, 6, 'a', 'e', 'h', 'i', 'l', 'm', 'o'}

### Dictionaries

In [92]:
#Una lista no es para almacenar este tipo de informaci√≥n, har√≠amos un diccionario
mal = ["Ras", 34, "Madrid", "Dobby"]

In [94]:
ras = {"nombre":"Ras", "edad":34, "mascota":"Dobby", "amigos":["Sonia", "Fer", "Ana"], "elemento":[{"fijo":None, "movil":665473821},{"mail_ih":"ras@ironhack.com", "mail":"rascasa@gmail.com"}]}

In [95]:
print(ras)

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby', 'amigos': ['Sonia', 'Fer', 'Ana'], 'elemento': [{'fijo': None, 'movil': 665473821}, {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}]}

In [96]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': ['Sonia', 'Fer', 'Ana'],
 'elemento': [{'fijo': None, 'movil': 665473821},
  {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}]}

In [97]:
undiccionario = {3:"value"}

In [98]:
undiccionario

{3: 'value'}

`clear` Elimina todos los elementos del diccionario

In [99]:
ras2 = ras.copy()

In [100]:
ras2.clear()

In [102]:
ras2

{}

`items()` Devuelve una lista que contiene una tupla por cada par clave-valor

In [103]:
ras.items()

dict_items([('nombre', 'Ras'), ('edad', 34), ('mascota', 'Dobby'), ('amigos', ['Sonia', 'Fer', 'Ana']), ('elemento', [{'fijo': None, 'movil': 665473821}, {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}])])

In [108]:
melaguardo = list(ras.items())

In [109]:
melaguardo

[('nombre', 'Ras'),
 ('edad', 34),
 ('mascota', 'Dobby'),
 ('amigos', ['Sonia', 'Fer', 'Ana']),
 ('elemento',
  [{'fijo': None, 'movil': 665473821},
   {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}])]

`keys` Devuelve una lista con las claves del diccionario

In [110]:
ras.keys()

dict_keys(['nombre', 'edad', 'mascota', 'amigos', 'elemento'])

In [112]:
ras_keys = list(ras.keys())
ras_keys

['nombre', 'edad', 'mascota', 'amigos', 'elemento']

`values` Devuelve una lista de todos los valores del diccionario

In [111]:
ras.values()

dict_values(['Ras', 34, 'Dobby', ['Sonia', 'Fer', 'Ana'], [{'fijo': None, 'movil': 665473821}, {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}]])

`pop()` Elimina el elemento con la clave especificada. Me devuelve el value.

In [113]:
ras.pop("elemento")

[{'fijo': None, 'movil': 665473821},
 {'mail_ih': 'ras@ironhack.com', 'mail': 'rascasa@gmail.com'}]

In [114]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': ['Sonia', 'Fer', 'Ana']}

`popitem` Elimina el √∫ltimo par clave-valor insertado

In [115]:
ras.popitem()

('amigos', ['Sonia', 'Fer', 'Ana'])

In [119]:
ras[1] #Los diccionarios no tienen orden

KeyError: 1

In [117]:
ras['edad']

34

`setdefault` Devuelve el valor de la clave especificada. Si la clave no existe: inserta la clave, con el valor especificado. Si la clave no existe y no se le indica valor, lo pone a "None"

In [120]:
ras.setdefault("amigos")

In [121]:
ras

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby', 'amigos': None}

In [122]:
ras.setdefault("casa")

In [123]:
ras

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby', 'amigos': None, 'casa': None}

In [125]:
ras.setdefault("otra",["covid", "cuidate"])

['covid', 'cuidate']

In [126]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate']}

`update` Updates the dictionary with the specified key-value pairs

In [127]:
ras.update({"trabajo":"Ironhack"})

In [128]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate'],
 'trabajo': 'Ironhack'}

In [129]:
ras.update({"trabajo":"Nasa"})

In [130]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate'],
 'trabajo': 'Nasa'}

In [ ]:
#¬†Otra forma de a√±adir un item a un diccionario

In [135]:
ras["ultimovalueya"] = 765469

In [136]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate'],
 'trabajo': 'Nasa',
 'ultimovalueya': 765469}

In [137]:
variable = "loquequerais"

In [138]:
intento = "hacerellabya"

In [139]:
ras[variable] = intento

In [140]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate'],
 'trabajo': 'Nasa',
 'ultimovalueya': 765469,
 'loquequerais': 'hacerellabya'}

In [141]:
sumita = 5 + 4

In [143]:
ras["mi_suma"] = sumita

In [144]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'casa': None,
 'otra': ['covid', 'cuidate'],
 'trabajo': 'Nasa',
 'ultimovalueya': 765469,
 'loquequerais': 'hacerellabya',
 'mi_suma': 9}

In [149]:
print(ras.get('loquequerais'))

hacerellabya

## Resumen
Es tu turno ¬øqu√© hemos aprendido hoy?

- Tipos de elementos de python : Strings(incluidos emojis), integers, floats, booleanos, None type.
- Tipos de celdas en jupyter
- Casteo (cambiar tipos de datos)Impl√≠cita y expl√≠cita
- Input(pedir al usuario que intriduzca datos)
- Diferencias entre "", '' y ''' '''
- Estructuras de datos: Listas, Tuplas, Sets, Diccionario(working in progress)
- Cosas que hacemos con listas. Por ejemplo: .append(), .remove(), .pop(), .clear(), len(), .sort(), .count() y muchos m√°s
- Cosas que hacemos con tuplas. Por ejemplo(operaciones mat√©maticas(suma, multiplicaci√≥n...), modificar NO
- Cosas que hacemos con sets. Por ejemplo(.add(), .remove(), .intersection(), .difference(), .issubset(), .issuperset(), .update(), .union(), .clear(), .discard()...) 
- Cosas que hacemos con diccionarios. Por ejemplo: definir parejas key, value, .pop(), .clear(), .items(), .keys(), .values(), .update()...
- Los diccionarios no tienen orden
- Puede haber cualquier tipo de elemento como value (listas, m√°s diccionarios, listas de diccionarios...etc)